<!doctype html>
<title>{% block title %}{% endblock %}</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<nav>
  <a href="/">Home</a>
  <a href="/Mathematics">Mathematics</a>
  <a href="/History">History</a>
  <a href="/Portuguese">Portuguese</a>
  <a href="/English (Secondary Language)">English (Secondary Language)</a>
  <a href="/Physics and Chemistry">Physics and Chemistry</a>
  <a href="/Biology and Geology">Biology and Geology</a>
  <a href="/Philosophy">Philosophy</a>
</nav>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% block content %}{% endblock %}
</section>
